
* {
    box-sizing: border-box;

}

html {
    font-family: "Lucida Sans", sans-serif;
}

body{
    margin:0;
    padding:0;
}

.header {
    background-color: #7b7380;
    color: #ffffff;
    padding: 15px;
    height: 250px;
}

h1 {
    font-size: 2em;
    font-family: "Homer Simpson UI"
        /* 2em = 2 x 10px = 20px */
}

div.card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    text-align: center;
}

.text-center {
    text-align: center;
}

.card p {
    text-align: left;
}

.card-header {
    background-color: #a29da4;
    color: #ffffff;
    padding: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.error{
    color: red;
    font-size: 11px;
}


div.container {
    padding: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}


[class*="col-"] {
    float: left;
    padding: 15px;
}


.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}



/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
.formulario {
    border-top: 1px solid rgba(14, 13, 13, 0.363);
    padding: 100px;
}


/* For Form */
input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 13px 10px;
    border: 1px solid #b9b9b9;
    border-radius: 3px;
    margin: 8px 0;
    display: inline-block;
}

input[type="submit"], .button {
    width: 100%;
    padding: 8px 16px;
    margin-top: 32px;
    border: 1px solid rgb(13, 165, 211);
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: rgb(13, 165, 211);

    
}
.header .button{
    width: 10%;
}

.header p{
    font-size: 17px;
}

input[type="submit"]:hover {
    cursor: pointer;
}


.slider{
    padding: 30px;
}

.slider h1 {
    font-size: 4em;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
    color: #FFF;
}

.slider a {
    color: #FFF;
    text-decoration: none;
}


        

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .header {
        width: 100%;
        height: 100px;
    }
    .formulario {
        border-top: 1px solid rgba(14, 13, 13, 0.363);
        padding: 25px;
    }

    div.card {
        width: 100%;
    }

    input[type="submit"] {
        width: 100%;
        padding-left: 2px;
    
        
    }
    .slider{
        display:none;
    }
   
}


